
<!--
<app-sidemenu></app-sidemenu>
-->

<!-- Navigation Bar -->
<!--
<app-nav-bar></app-nav-bar> 

<div class="container col-md-12">

<div class=" row card-line"> 
<app-card class="col-md-2 col-md-offset-1 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
</div>

</div>
-->

<div id="mySidenav" class="sidenav">
<app-sidemenu></app-sidemenu>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">open</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  

<app-nav-bar></app-nav-bar> 

<div class="container col-md-12">

<div class=" row card-line"> 
<app-card class="col-md-2 col-md-offset-1 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
<app-card class="col-md-2 col-sm-3"></app-card>
</div>

</div>


</div>