<div class="row navigation">
    <div class="col-sm-1 text-center"> 
        <button>
            <img src="nav-bar\logo4kidz.png" alt="Button" width="30px" height="25px">
        </button> 
        </div>
<div class="col-sm-2 text-left"> <img src="nav-bar\logo4kidz.png" alt="4Kidz" width="83px" height="36px"> </div>
<div class="col-sm-7 text-center"> <p>Niños</p> </div>
<div class="col-sm-2 text-right">  <img src="nav-bar\logo4kidz.png" alt="Parvulos" width="68px" height="40px"> </div>
<hr>
</div>


<div class="row">
<button class="col-sm-2"> Nuevo Niño </button>
<p class="text-center" >Total Niños:</p>

</div>


